<footer>
  <div class="footer_contents">

    <p><a href="http://worldfoodcenter.ucdavis.edu/">World Food Center, Davis</a>, One Shields Avenue, Davis, CA 95616 | 530-752-7172</p>
    <p>Copyright © The Regents of the University of California, Davis campus. All rights reserved.</p>
    <div class="footer-spacer">
    <hr class="footer-spacer__hr hr-invert">
    <div class="footer-spacer__logo">
      <a href="https://www.ucdavis.edu/" class=""><img src="/media/uc-logo-white.svg" class="ucd-logo" alt="UC Davis Logo"></a>
    </div>
  </div>
  </div>
</footer>
