.video-layover {
  h1 {
    color:#fff;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;
    white-space: nowrap;

  }
  h2 {
    color:#fff;
    line-height: 1.3;
    margin-top: 0;

  }
  p {
    color:#fff;

  }
  a {
    color:#fff;
    font-weight:700;
  }
}
.video-panel-logo {
  position: absolute;
  z-index: 2;
  top:4%;
  right:4%;
}
.video-panel-layover {
  position: absolute;
  z-index: 2;
  bottom:10%;
  left:10%;
  @include breakpoint(rufus) {
    left:0%;
  }
  &.layover-boots {
    left:10%;
    bottom:35%;
    width:350px;
    text-shadow: #000 0 0 2px;
  }
}
.flexer {
  display:flex;
  justify-content: space-around;
  width:50%;
  margin:0 auto;
  @include breakpoint(rufus) {
    width:92%;
    display:block;
    margin-left:0;
  }
}

.panel_left {
  background-color: rgba(0,114,135,0.75);
  text-align: right;
  flex:6;
  padding:2.5% 5%;
  @include breakpoint(rufus) {
    text-align: left;
  }
}
.panel_right {
  background-color: rgba(0,142,170,0.75);
  flex:8;
  padding:2.5% 5%;

}
.callout {
  border-top:1px solid $blue;
  border-bottom:1px solid $blue;
  padding:2% 0%;
  margin:6% 0%;
  h1, h2, h3, p {
    margin-left:5%;
    margin-bottom:20px;
  }
}
.frame-wrapper {
  text-align:center;
  padding:15% 0%;
}
.info-wrapper {
  text-align:center;
  padding:5% 0%;
}
.fullscreen-graphic {
  width:100%;
  background-color:#000;
  margin:56px 0px;

  &.feature-cali {
    background: url("/media/video/cali.jpg");
    position: relative;
    height:750px;
    .cali-contents {
      position: absolute;
      top:25%;
      left:15%;
      width:400px;
      h2, p {
        color:#fff;
        text-shadow: #000 0 0 2px;
      }
    }
  }
  &.feature-drought {
    background: url("/media/video/desert-bw.png");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    padding-top:5%;
    height:750px;
    .drought-contents {
      margin:0 auto;
      width:60%;
      @include breakpoint(rufus) {
        width:90%;
      }
      a {
        color:#fff;
        text-decoration: underline;
      }
      h2, p {
        color:#fff;
        text-shadow: #000 0 0 2px;
      }
    }
  }
  &.feature-water {
    background: url("/media/video/water_tahoe2.png");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    .water-contents {
      margin:0 auto;
      width:600px;
      padding-top:5%;
      a {
        color:#fff;
        text-decoration: underline;
      }
      h2, p {
        color:#fff;
        text-shadow: #000 0 0 2px;
      }
    }
  }
  &.feature-yang {
    background: url("/media/video/yang_bw.png");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    height:600px;
    .yang-contents {
      margin:0 auto;
      padding-top:5%;
      width:60%;
      display:flex;
      justify-content: space-between;
      @include breakpoint(rufus){
        width:90%;}
      a {
        color:#fff;
        text-decoration: underline;
      }
      h2, p {
        color:#fff;
        text-shadow: #000 0 0 2px;
        padding-left:5%;
      }
    }
  }
  &.feature-plant {
    background: url("/media/video/plant.png");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    height:400px;
    .plant-contents {
      margin:0 auto;
      padding-top:5%;
      width:80%;
      display:flex;
      justify-content: space-between;
      @include breakpoint(rufus){
        width:98%;}
      a {
        color:#fff;
        text-decoration: underline;
      }
      h2, p {
        color:#fff;
        text-shadow: #000 0 0 2px;
        padding-left:5%;
      }
    }
  }
}
